body {
    font-family: "Kiwi Maru", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    background-color: #ffffff;
    color: #333333;
}

/*
#d9e2ff
#abbbea
#2c4aa3

#97d4d9
*/

header {
    color: #ffffff;
    background-color: #97d4d9;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    height: 50px;
    line-height: 45px;
}

main {
    height: calc(100vh - 80px);
    line-height: 1.5;
}

footer {
    color: #ffffff;
    background-color: #97d4d9;
    font-size: 10px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

/* ログイン画面 */

.login-wrap {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 18px;
    /* メインの高さ調整の関係でmargin上下は0 Paddingで調整*/
    margin: 0 auto;
    padding: 50px 10px;
}

.login-wrap h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

.name-wrap {
    border: 2px solid #97d4d9;
    border-radius: 5px;
    padding: 20px 15px;
}

#username {
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: #eeeeee;
    width: 100%;
}

.triangle {
    background-color: #97d4d9;
    width: 20px;
    height: 15px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    margin: 0 auto;
}

.icon-wrap {
    display: flex;
    flex-direction: column;
    border: 2px solid #97d4d9;
    border-radius: 5px;
    padding: 20px 15px;
}

.icon-sub-wrap {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.icon-sub-wrap img{
    width: 50px;
    border-radius: 50%;
}

#login {
    background-color: #97d4d9;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

/* chat表示エリア */

#chat-display {
    height: calc(100vh - 175px);
    overflow: auto;
    padding: 20px 15px;
    max-width: 1030px;
    margin: 0 auto;
}

#chat-display-inner {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.my-msg-wrap {
    max-width: 80%;
    width: fit-content;
    margin: 0 0 20px auto;
    /* 画像との配置（共通） */
    display: flex;
    align-items: flex-end;
    column-gap: 5px;
}

.others-msg-wrap{
    max-width: 80%;
    width: fit-content;
    margin: 0 auto 20px 0;
    /* 画像との配置（共通） */
    display: flex;
    align-items: flex-end;
    column-gap: 5px;
}

.msg-wrap {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 10px;
    margin: 0 0 5px 10px;
}

.my-msg{
    border-radius: 20px 20px 0 20px;
    background-color: #e5f4f5;
    padding: 10px 20px;
}

.others-msg {
    border-radius: 20px 20px 20px 0;
    background-color: #eeeeee;
    padding: 10px 20px;
}

.text {
    font-size: 14px;
}

.time {
    margin: 5px 0 0;
    font-size: 10px;
    text-align: end;
}

.icon{
    width: 30px;
    border-radius: 50%;
}

/* chat入力エリア */

.chat-input {
    max-width: 1000px;
    width: calc(100% - 50px);
    margin: 20px auto;
    border-radius: 20px;
    background-color: #e5f4f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat-text {
    padding: 15px 20px;
    width: 100%;
    font-size: 14px;
}

#chat-send img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
}

/* --------------------
    for SP size 
-------------------- */
@media screen and (max-width: 768px){

    #login-wrap {
        margin: 30px auto;
    }

}